/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Honk&display=swap');


/* Styles for the body */

body {
	font-family: "Bricolage Grotesque", sans-serif;
	color: #271a0e;
	background-color: #6d9096;
}

a {
	color: white;
}
.header_bigfont{
	font-family: "Honk", system-ui;
	font-optical-sizing: auto;
	font-size: 50px;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "MORF" 26,
	  "SHLN" 50;
}

#header_bigfont{
	font-family: "Honk", system-ui;
	font-optical-sizing: auto;
	font-size: 90px;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "MORF" 26,
	  "SHLN" 50;
}


h6 {
	color: white;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #2f575a;
	color: #ffffff;
}

.resume-main {
	background-color: #e2daca;
}

.resume-aside {
	background-color: #a6c7bf;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "*";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #c70d80;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
