/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


/* Styles for the body */

body {
	font-family: "Bricolage Grotesque", sans-serif;
	color: #271a0e;
	background-color: #f8f8fc;
}

a {
	color: white;
}

h6 {
	color: white;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #2f575a;
	color: #ffffff;
}

.resume-main {
	background-color: #e2daca;
}

.resume-aside {
	background-color: #b3a598;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "*";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #c70d0d;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
